@charset "UTF-8";
.header {
  height: 72px;
  line-height: 24px; }
  .header .logo {
    float: left;
    width: 139px;
    transition: 0ms;
    margin-top: 23px; }
  .header .nav {
    float: left; }
    .header .nav li {
      float: left;
      padding: 0 4px; }
      .header .nav li > a {
        display: block;
        padding: 24px 8px;
        position: relative; }
        .header .nav li > a:before {
          content: "";
          position: absolute;
          left: auto;
          right: 0;
          bottom: 0;
          width: 0;
          height: 6px;
          background: #F5851F;
          transition: 600ms; }
        .header .nav li > a:hover:before, .header .nav li > a.act:before {
          left: 0;
          right: auto;
          width: 100%; }
  .header .tools {
    float: left;
    margin-left: 18px;
    padding: 24px 25px;
    background: #F6F6F6; }
    .header .tools > p {
      float: left;
      height: 24px; }
      .header .tools > p + p {
        margin-left: 30px; }
    .header .tools span {
      float: left;
      height: 100%;
      background-position: center; }
    .header .tools .ico {
      width: 24px; }
    .header .tools .aw {
      margin-left: 8px;
      width: 9px;
      background-image: url("../img/联合 5.png"); }

.pull-nav {
  background: #fff;
  background: rgba(255, 255, 255, 0.98);
  padding: 53px 0 60px 0;
  display: none; }

.news-nav {
  float: left;
  width: 200px;
  line-height: 24px; }
  .news-nav a {
    display: block;
    position: relative;
    padding: 7px 0;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    color: #999; }
    .news-nav a:before {
      content: "";
      position: absolute;
      top: 50%;
      margin-top: -5px;
      right: 18px;
      width: 6px;
      height: 9px;
      background: url("../img/组 116.png") no-repeat center; }
    .news-nav a:hover {
      color: #F5851F; }
      .news-nav a:hover:before {
        background: url("../img/组-1162.png") no-repeat center; }

.pv-list {
  float: right;
  padding-top: 7px; }
  .pv-list a {
    color: #999; }
    .pv-list a:hover {
      color: #F5851F; }
  .pv-list li {
    width: 275px;
    float: left; }
    .pv-list li + li {
      margin-left: 30px; }
  .pv-list .pai {
    padding-bottom: 61.81818%; }
  .pv-list .nowti {
    text-align: center;
    font-size: 15px;
    line-height: 20px;
    margin-top: 10px; }

.mtop {
  height: 72px; }

.banner .slick-dots li {
  background: #fff; }
  .banner .slick-dots li:hover {
    background: #F5851F; }

.banner .slick-dots .slick-active {
  background: #F5851F; }
