@charset "utf-8";
@import "color";
@import "repeat";
.header{
    height:72px;
    line-height: 24px;
    .logo{
        float: left;
        width: 139px;
        transition: 0ms;
        margin-top: (72px - 26px) / 2;
    }
    .nav{
        float: left;
        li{
            float: left;
            padding: 0 12px - 8px;
            > a{
                display: block;
                padding: (72px - 24px) / 2 8px;
                position: relative;
                &:before{
                    @include hl($mc1, 6px);
                }
                &:hover, &.act{
                    &:before{
                        @include hlw;
                    }
                }
            }
        }
    }
    .tools{
        float: left;
        margin-left: 30px - 12px;
        padding: (72px - 24px) / 2 25px;
        background: $hc3;
        > p{
            float: left;
            height: 24px;
            + p{
                margin-left: 30px;
            }
        }
        span{
            float: left;
            height: 100%;
            background-position: center;
        }
        .ico{
            width: 24px;
        }
        .aw{
            margin-left: 8px;
            width: 9px;
            background-image: url('../img/联合 5.png');
        }
    }
}

.pull-nav{
    background: #fff;
    background:rgba(255,255,255,.98);
    padding: (60px - 7px) 0 60px 0;
    display: none;
}

.news-nav{
    float: left;
    width: 200px;
    line-height: 24px;
    a{
        display: block;
        position: relative;
        padding: (38px - 24px) / 2 0;
        border-bottom: 1px solid $hc1;
        font-size:16px;
        color: $fc3;
        &:before{
            @include ba;
            top: 50%;
            margin-top: -5px;
            right: 18px;
            width: 6px;
            height: 9px;
            background: url('../img/组 116.png') no-repeat center;
        }
        &:hover{
            color: $mc1;
            &:before{ 
                background: url('../img/组-1162.png') no-repeat center;
            }
        }
    }
}

.pv-list{
    float: right;
    padding-top: 7px;
    a{
        color: $fc3;
        &:hover{
            color: $mc1;
        }
    }
    li{
        width: 275px;
        float: left;
        + li{
            margin-left: 30px;
        }
    }
    .pai{
        padding-bottom: (170 / 275) * 100%;
    }
    .nowti{
        text-align: center;
        font-size: 15px;
        line-height: 20px;
        margin-top: 10px;
    }
}

.mtop{
    height: 72px;
}

.banner{
    .slick-dots{
        li{
            background: #fff;
            &:hover{
                background: $mc1;
            }
        }
        .slick-active{
            background: $mc1;
        }
    }
}