<div class="header">
    <div class="pw clearfix">
        <a href="index.html" class="logo"><img src="img/LOGO.png" alt=""></a>
        <div class="r">
            <ul class="nav">
                <li><a href="index.html" @@if (context.index==='act') { class="act" }>首页</a></li>
                <li><a href="#" @@if (context.about==='act') { class="act" }>关于我们</a></li>
                <li><a href="#" @@if (context.news11==='act') { class="act" }>核心主业</a></li>
                <li><a href="#" @@if (context.product==='act') { class="act" }>产品系</a></li>
                <li><a href="news.html" @@if (context.news==='act') { class="act news" }>新闻中心</a></li>
                <li><a href="#" @@if (context.case==='act') { class="act" }>投资者关系</a></li>
                <li><a href="#" @@if (context.investor==='act') { class="act" }>公益蓝光</a></li>
                <li><a href="#" @@if (context.job==='act') { class="act" }>人力资源</a></li>
                <li><a href="#" @@if (context.branch==='act') { class="act" }>加入我们</a></li>
                <li><a href="#" @@if (context.contact==='act') { class="act" }>更多</a></li>
            </ul>
            <div class="tools">
                <p><span class="ico" style="background-image: url(img/放大镜.png);"></span></p>
                <p><span class="ico" style="background-image: url(img/二维码.png);"></span><span class="aw"></span></p>
                <p><span class="ico" style="background-image: url(img/地球.png);"></span><span class="aw"></span></p>
            </div>
        </div>
    </div>
    <div class="pull-nav">
        <div class="pw clearfix">
            <div class="news-nav">
                <a href="news.html">公司新闻</a>
                <a href="news.html">项目动态</a>
                <a href="#">媒体看蓝光</a>
                <a href="#">蓝光V刊</a>
                <a href="#">蓝光影像</a>
            </div>
            <ul class="pv-list">
                <li><a href="#" class="scapic">
                    <div class="pai"><img src="img/ix_i1.jpg" alt=""></div>
                    <p class="nowti">新起点、新征程、新蓝图</p>
                </a></li>
                <li><a href="#" class="scapic">
                    <div class="pai"><img src="img/ix_i2.jpg" alt=""></div>
                    <p class="nowti">为美好生活而来，因美好生活而成</p>
                </a></li>
            </ul>
        </div>
    </div>
</div>
<!-- header -->
<div class="menu-handler">
    <span class="burger burger-1 mtrans"></span>
    <span class="burger burger-2 mtrans"></span>
    <span class="burger burger-3 mtrans"></span>
</div>
<div class="menuBox">
    <dl class="navMobile">
        <dd><a href="index.html">首页</a></dd>
        <dd><a href="about.html">走进厚普</a>
            <div class="mtv">
                <a href="about.html?#ab1" class="ab">公司简介</a>
                <a href="about.html?#ab2" class="ab">发展历程</a>
                <a href="about.html?#ab3" class="ab">企业文化</a>
                <a href="about.html?#ab4" class="ab">资质荣誉</a>
                <a href="about.html?#ab5" class="ab">厚普期刊</a>
            </div>
        </dd>
        <dd><a href="news.html">新闻中心</a>
            <div class="mtv">
                <a href="news.html">公司新闻</a>
                <a href="news.html">行业动态</a>
                <a href="news1.html">业务公告</a>
            </div>
        </dd>
        <dd><a href="product.html">产品中心</a>
            <div class="mtv">
                <a href="product.html">车用</a>
                <a href="product.html">船用</a>
                <a href="product.html">民用</a>
                <a href="product.html">氢能</a>
                <a href="product.html">核心零部件</a>
                <a href="product.html">物联网</a>
            </div>
        </dd>
        <dd><a href="service.html">营销服务</a></dd>
        <dd><a href="case.html">工程案例</a>
            <a href="case.html">国内案例</a>
            <a href="case.html">国际案例</a>
        </dd>
        <dd><a href="investor.html">投资者关系</a>
            <!-- <div class="mtv">
                <a href="investor.html">信息披露</a>
                <a href="investor.html">年报等公开信息</a>
            </div> -->
        </dd>
        <dd><a href="job.html">人力资源</a>
            <div class="mtv">
                <a href="job.html">人才招聘</a>
                <a href="job1.html">员工风采</a>
            </div>
        </dd>
        <dd><a href="branch.html">分子公司</a></dd>
        <dd><a href="contact.html">联系我们</a></dd>
    </dl>
    <br/><br/><br/><br/>
</div>
<!-- menuBox -->
<div class="menuBlack"></div>
<div class="mtop"></div>
